{{ $author := ""}}
{{ range .Params.authors }}
{{ $author = . }}
{{ end }}

<article class="card shadow thumbnail">
  {{ if .Params.Image }}
  <a href="{{ .Permalink }}">
    {{ partial "image" (dict "src" (printf "images/%s" .Params.Image) "alt" .Title "size" "314x177" "sizes" (slice "240x135" "295x166" "314x177") "page" .) }}
  </a>
  {{ end }}
  <div class="card-body">
    <h2 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    {{ if .Params.authors }}
    <div class="entry-meta">
      <span class="byline">
        by
        <span class="author vcard" itemprop="author" itemtype="https://schema.org/Person" itemscope>
          <a href="{{ (printf `authors/%s` $author | urlize) | relURL }}" title="View all posts by {{ $author }}">
           <span class="author-name text-hover-highlight" itemprop="name">{{ $author }}</span>
          </a>
        </span>
      </span>
    </div>
    {{ end }}
  </div>
</article>