{{ define "main" }}

  {{ partial "page-title.html" . }}

  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        {{ if or .Params.image .Params.date .Params.author }}
        <div class="col-lg-9 text-center mb-4">
          {{ if .Params.image }}
          <img src="{{.Params.image | absURL }}" alt="{{.Title}}" class="img-fluid rounded mb-4">
          {{ end }}
          {{ if or .Params.date .Params.author }}
          <p class="font-secondary">{{ if .Params.date }}Published on {{ .PublishDate.Format "Jan 02, 2006" }}{{ end }}{{ if .Params.author }}by <span class="text-primary">{{.Params.Author}}</span>{{ end }}</p>
          {{ end }}
        </div>
        {{ end }}
        <div class="col-lg-9">
          <div class="content">
            {{.Content }}
            {{ if .Params.CTA }}
            {{ with .Params.CTA }}
            <div class="text-center">
            {{ partial "cta-button.html" (dict "CTA" (dict "URL" .URL "title" .title "target" .target)) }}
            </div>
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}
