<article class="card shadow thumbnail">
  {{ $image := index (.Resources.Match (printf "images/%s" .Params.image)) 0 }}
  {{ $src := $image.Fit "314x177" }}
  {{ $srcset := "" }}
  {{ $srcset = printf "%s, %s 314w"  $srcset ($image.Fit "314x177").RelPermalink }}
  {{ $srcset = printf "%s, %s 300w"  $srcset ($image.Fit "300x168").RelPermalink }}
  {{ $srcset = printf "%s, %s 220w"  $srcset ($image.Fit "220x124").RelPermalink }}
  {{ $srcset = printf "%s, %s 150w"  $srcset ($image.Fit "150x84").RelPermalink }}

  <a href="{{ .Permalink }}">
    <img class="rounded card-img-top" src="{{ $src.RelPermalink }}" srcset="{{ $srcset }}" alt="{{.Title }}">
  </a>
  <div class="card-body">
    <h2 class="card-title"><a href="{{ .Permalink }}">{{.Title }}</a>
    </h2>
    <entry-meta>
      <span class="byline">
        by
        <span class="author vcard" itemprop="author" itemtype="https://schema.org/Person" itemscope>
          <span class="author-name" itemprop="name">{{ .Params.author }}</span>
        </span>
      </span>
    </entry-meta>
  </div>
</article>
