* {
  font-family: "Cabin", sans-serif;
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: map-get($colors, text);
  margin: 0;
  padding: 0;
}

body {
  min-height: calc(100vh - 243px);
}

::selection {
  color: white;
  background: map-get($colors, primary);
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

h3 {
  font-size: 28px;
  line-height: 1.3;
  margin-bottom: 10px;
}

h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

h5 {
  font-size: 28px

}

h6 {
  font-size: 28px;
}

span {
  line-height: 1.5;
}

p {
  font-size: 18px;
  line-height: 1.4;
  color: #5e5e5e;
  margin-bottom:1.5rem;
}

ul {
  margin-left: 1.5rem;
  margin-bottom:1.5rem;
}

li {
  font-size: 18px;
  line-height: 1.4;
  color: #5e5e5e;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: map-get($colors, text);
  text-decoration: none;

  &:hover {
    color: map-get($colors, primary);
  }
}

#content {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 150px 30px 0;
}

.content {
  p {
    a {
      color: map-get($colors, primary);

      &:hover {
      color: map-get($colors, primary-hover);
      }
    }
  }
}

.page-title {
  margin-bottom: 40px;
}

.card-title {
  margin: 0;

  a {
    color: map-get($colors, text-dark);

    &:hover {
      color: map-get($colors, primary);
    }
  }
}

.entry-meta {
  margin-top: .5rem;

  * {
    font-size: 15px;
  }
}

.main-footer {
  text-align: center;
  padding: 20px 0;
}

.social-contacts {
  list-style-type: none;
  margin-bottom: 20px;
  padding: 0;

  li {
    display:inline-block;

    i {
      font-size: 40px;
      margin: 0 10px;

      &:hover {
        color: map-get($colors, primary);
      }
    }
  }
}

.copyright-text {
  font-size: 15px;
}

.yt-snippet {
  margin-bottom: 1.5rem;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 100%;

  span {
    font-size: 20px;

    &:hover {
      color: map-get($colors, primary);
    }
  }

  .prev:hover *,
  .next:hover * {
    color: map-get($colors, primary);
  }

  i {
    display: none;
    position: absolute;
    top: 50%;

    &:before {
      font-size: 25px;
    }
  }

  .prev,
  .next {
    position: relative;
    margin: 1.5rem 0;
  }
}

@include media($tablet) {
  .main-footer {
    padding: 20px;
  }

  .pagination {
    i {
      display: inline;
    }

    .prev,
    .next {
      max-width: 40%;
    }

    .prev {
      padding-left: 30px;

      i {
        left: 0;
      }
    }

    .next {
      padding-right: 30px;

      i {
        right: 0;
      }
    }
  }
}
