* {
  font-family: "Cabin", sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 28px
}

h5 {
  font-size: 28px

}

h6 {
  font-size: 28px;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: map-get($colors, text);
  text-decoration: none;

  &:hover {
    color: map-get($colors, primary);
  }
}

#content {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.content {
  p {
    a {
      color: map-get($colors, primary);

      &:hover {
      color: map-get($colors, primary-hover);
      }
    }
  }
}

.posts {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  max-width: 314px;
  margin: auto;
  margin-bottom: 40px;

  h2 {
    font-size: 20px;
  }
}

.clearfix {
  &:after {
    clear: both;
    content: ' '; // The space content is one way to avoid an Opera bug.
    display: table;
  }
}

@include media($mobile-l) {
  .thumbnail {
    img {
      width: 314px;
      height: 177px;
    }
  }
}

@include media($tablet) {
  .thumbnail {
    margin: 0 15px 40px;
  }
}

@include media($laptop) {
  .posts {
    justify-content: center;
  }

  .thumbnail {
    padding: 10px 30px 10px 10px;
    margin: 0 0 40px;
  }
}

@include media($laptop-l) {
  .posts {
    justify-content: flex-start
  }
}