* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

button {
  cursor: pointer;
}

body {
  font-family: Arial, x-locale-body, sans-serif;
  min-height: calc(100vh - 243px);
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  color: map-get($colors, text);

  &.no-scroll {
    overflow: hidden;
  }
}

::selection {
  color: white;
  background: map-get($colors, primary);
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

h3 {
  font-size: 28px;
  line-height: 1.3;
  margin-bottom: 10px;
}

h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

h5 {
  font-size: 28px

}

h6 {
  font-size: 28px;
}

span {
  line-height: 1.5;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: -.00278rem;
  color: map-get($colors, text);
  margin-bottom:1.5rem;

  a {
    font-family: sans-serif;
  }
}

input {
  font-size: 16px;
}

ul {
  margin-left: 1.5rem;
  margin-bottom:1.5rem;
}

li {
  font-size: 1rem;
  line-height: 1.6;
  color: map-get($colors, text);
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: map-get($colors, text);
  text-decoration: none;

  &:hover {
    color: map-get($colors, primary);
  }
}

#content {
  min-height: calc(100vh - 129px);
  margin-left: auto;
  margin-right: auto;
  padding: 150px 15px 0;
}

.content {
  word-break: break-word;

  p {
    a {
      color: map-get($colors, primary);

      &:hover {
      color: map-get($colors, primary-hover);
      }
    }
  }
}

.page-title {
  margin-bottom: 40px;
}

.main-footer {
  text-align: center;
  padding: 20px 0;
}

.social-contacts {
  list-style-type: none;
  margin-bottom: 20px;
  padding: 0;
  margin-left: 0;

  li {
    display:inline-block;

    svg {
      width: 40px;
      margin: 0 10px;
      fill: map-get($colors, text);

      &:hover {
        fill: map-get($colors, primary);
      }
    }
  }
}

.copyright-text {
  font-size: 15px;
}

.yt-snippet {
  margin-bottom: 1.5rem;
}


@include media($tablet) {
  #content {
    padding: 100px 30px 0;
  }

  .main-footer {
    padding: 20px;
  }
}

@include media($laptop) {
  #content {
    max-width: 1100px;
  }
}