.clearfix {
  &:after {
    clear: both;
    content: ' '; // The space content is one way to avoid an Opera bug.
    display: table;
  }
}

.text-primary {
  color: map-get($colors, primary);

  &:hover {
    color: map-get($colors, primary-hover);
  }
}
