@import "variables";
@import "mixins";
@import "module/list";
@import "module/pagination";

.card-body {
  margin-top: 10px;
}

.card-title {
  margin: 0;

  h2 {
    min-height: 48px;
    line-height: 1.3;
  }

  a {
    color: map-get($colors, text-dark);

    &:hover {
      color: map-get($colors, primary);
    }
  }
}

.author-name {
  display: inline-block;
  line-height: 48px;
}

.entry-meta {
  * {
    font-size: 15px;
  }
}
