@import "variables";
@import "mixins";
@import "module/about-author";

#content {
  padding-top: 30px;
  padding: 30px 15px 0;
}

@for $i from 1 through 4 {
  h#{$i} {
    i {
      display: none !important;
      color: map-get($colors, primary);
    }

    &:hover {
      i {
        display: inline !important;
      }
    }
  }
}

pre {
  padding: 10px;
  margin-bottom: 1.5rem;
  border: 1px solid map-get($colors, border);
  overflow-x: auto;

  code {
    font-style: normal;
    font-weight: 400;
  }
}

code {
  font-family: sans-serif;
  font-weight: 600;
  font-style: italic;

  span {
    font-family: sans-serif;
  }
}

#primary {
  width: 100%;
}

.page-title {
  text-align: center;

  img {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 32px;
  }
}

.right-sidebar {
  width: 100%;

  > section {
    border: 2px solid #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
  }
}

.search-sidebar {
  input {
    font-size: 16px;
    width: 100%;
    border: 0;
    color: map-get($colors, text);
  }
}

.course-promo-sidebar {
  text-align: center;

  .introduction {
    display: block;
    font-size: 21px;
    font-weight: 700;
    color: map-get($colors, text-dark);
    text-align: center;
  }

  button {
    display: inline-block;
    font-size: 15px;
    width: 100%;
    max-width: 288px;
    color: white;
    background: map-get($colors, secondary);
    font-weight: 600;
    padding: 10px 20px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.4;
    border: none;

    &:hover {
      background: map-get($colors, secondary-hover);
    }
  }
}

#popular-recent {
  position: relative;
  border: 0;
  padding: 0;

  ul {
    margin: 0;
    height: 40px;
    list-style: none;
    overflow: hidden;
    z-index: 1;

    li {
      display: inline;
      float: left;
      font-weight: 700;
      cursor: pointer;

      a {
        float: left;
        line-height: 40px;
        padding: 0 13px 0 10px;
        border: 0px solid #f0f0f0;
        border-bottom: none;

        &.selected {
          border-width: 2px;
          background: white;
        }
      }
    }
  }

  .popular-list,
  .recent-list {
    display: none;
    margin-top: -3px;
    padding: 5px;
    border: 2px solid #f0f0f0;
    padding: 10px 10px 0;
    overflow: hidden;

    &.selected {
      display: block;
    }

    a:hover {
      span {
        color: map-get($colors, primary);
      }
    }

    .post {
      border: none;
      max-height: 105px;
      padding-bottom: 10px;

      & ~ .post {
        border-top: 1px solid #f0f0f0;
        padding-top: 10px;
      }
    }

    img {
      margin: 0 10px 0 0;
      float: left;
      width: 150px;
      height: 84px;
    }

    span {
      line-height: 20px;
    }
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;

  .right-sidebar {
    label span {
      position: absolute;
      clip: rect(0,0,0,0);
      hight: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
    }
  }
}

.facebook-snippet {
  width: 100%;
  height: 155px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.social-share {
  margin: 10px 0;
  text-align: center;

  a {
    display: inline-block;
    font-size: 18px;
    margin: 0 5px 10px 0;
    padding: 5px 10px;
    white-space: nowrap;

    i,
    span {
      color: white;
    }
  }

  i {
    font-size: 16px;
    margin-right: 10px;
  }

  span {
    font-size: 15px;
    font-weight: 800;
    letter-spacing: .2;
  }

  .fb-share {
    background: map-get($colors, facebook);

    &:hover {
      background: map-get($colors, facebook-hover);
    }
  }

  .twitter-share {
    background: map-get($colors, twitter);

    &:hover {
      background: map-get($colors, twitter-hover);
    }
  }

  .linkedin-share {
    background: map-get($colors, linkedin);

    &:hover {
      background: map-get($colors, linkedin-hover);
    }
  }

  .email-share {
    background: map-get($colors, primary);

    &:hover {
      background: #fbb44a;
    }
  }
}

.related-posts {
  .post-rels {
    display: flex;
    flex-wrap: wrap;

    a {
      width: 100%;
      margin-bottom: 20px;

      span {
        display: block;
      }

      &:hover {
        span {
          color: map-get($colors, primary);
        }
      }
    }
  }
}

figure {
  margin-bottom: 2.5rem;
  text-align: center;

  img {
    cursor: zoom-in;
  }

  figcaption {
    text-align: center;
  }
}

.entry-meta {
  border-bottom: 1px solid map-get($colors, border);

  .tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 0 1.5rem;

    li {
      display: inline-block;
      margin: 10px 10px 10px 0;

      &:hover {

        a {
          background: map-get($colors, primary);
          color: white;
        }
      }

      a {
        font-size: 14px;
        padding: 5px 10px;
        white-space: nowrap;
        background: #5e5e5e1a;
        border-radius: 20px;
      }
    }
  }
}

.img-modal {
  position: fixed;
  z-index: 1;
  padding: 80px 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  z-index: 4;

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;

    &:hover,
    &:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .modal-content {
    display: block;
    margin: auto;
    max-width: 100%;
  }

  .caption {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  .modal-content,
  .caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
}

.pagination {
  flex-wrap: wrap;

  i {
    top: 50%;
  }
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: map-get($colors, primary);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

@include media($tablet) {
  h1 {
    font-size: 50px;
  }

  .related-posts {
    .post-rels {
      a {
        max-width: 32%;

        & ~ a {
          margin-left: 10px;
        }
      }
    }
  }

  .social-share {
    text-align: left;
  }
}

@include media($laptop) {
  .page-title {
    text-align: left;

    h1 {
      font-size: 45px;
    }
  }

  .posts-page #content > .content {
    flex-wrap: nowrap;

    #primary {
      padding-right: 30px;
    }
  }

  .img-modal {
    .modal-content {
      max-width: 60%;
    }
  }

  #primary {
    width: 70%;
  }

  .right-sidebar {
    width: 30%;
  }
}
