{{ define "main" }}

<section class="content">
  <article id="primary">
    {{ partial "page-title" . }}
    {{ .Content }}

    {{ partial "social-share" . }}

    <footer>
      <div class="entry-meta">
        <ul class="tags">
          {{ range (.GetTerms "tags") }}
          <li><a href="{{ .Permalink }}" rel="tag">{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>

        {{ partial "about-author" (dict "author" (index .Params.authors 0)) }}

      </div>

      {{ .Scratch.Add "paginationExtended" true }}
      {{ partial "pagination/pagination-single" . }}
      {{ .Scratch.Delete "paginationExtended" }}

      <div class="related-posts">
        <h3>Related Posts</h3>
        <div class="post-rels">
          {{ $relatedPostsCount := 0 }}
          {{ range where (where .Site.Pages.ByDate.Reverse "Type" "posts") "Date.Unix" "<" .Date.Unix }}
          {{ if and (lt $relatedPostsCount $.Site.Params.NumRelatedPosts) (ge (intersect $.Params.tags .Params.tags | len) 1) }}
          <a href="{{ .Permalink }}" alt="Post '{{ .Params.Title }}' thumbnail.">
            {{ partial "image" (dict "src" (printf "images/%s" .Params.Image) "alt" (printf "Thumbnail for '%s' post" .Params.Title) "size" "395x222" "sizes" (slice "290x163" "345x194" "395x222" "236x133" "213x120" "230x129") "page" .) }}
            <span class="text-hover-highlight">{{ .Title }}</span>
          </a>

          {{ $relatedPostsCount = add $relatedPostsCount 1 }}
          {{ end }}
          {{ end }}
        </div>
      </div>
    </footer>
  </article>

  <aside class="right-sidebar" itemtype="https://schema.org/WPSideBar" itemscope>
    {{ partial "search" (dict "section" true) }}

    <section class="course-promo-sidebar">
      {{ partial "image" (dict "src" "images/laurel.jpg" "size" "288x258" "static" true) }}
      <span class="introduction">5 Day FREE IT Career Planning Course!</span>
      <button class="optin-career-planing-course" type="button">Sign me up!</button>
    </section>

    <section id="popular-recent">
      <ul class="clear">
        <li><a href="#popular" class="popular selected">🔥 Popular</a></li>
        <li><a href="#recent" class="recent">⏱️Recent</a></li>
      </ul>

      <div class="popular-list selected">
        {{ range .Site.Params.popular }}
        {{ $page := $.Site.GetPage .page }}
        {{ with $page.Params }}
        <section class="post clearfix">
          <a href="{{ $page.Permalink }}" alt="Post '{{ .Title }}' thumbnail.">
            {{ partial "image" (dict "src" (printf "images/%s" .Image) "alt" (printf "Thumbnail for '%s' post" .Title) "size" "150x85" "page" $page) }}
            <span>{{ if le (len .Title) 45 }}{{ .Title }}{{ else }}{{ substr .Title 0 45 }}...{{ end }}</span>
          </a>
        </section>
        {{ end }}
        {{ end }}
      </div>

      <div class="recent-list">
        {{ range (where .Site.RegularPages "Section" "posts" | first 5) }}
        {{ $page := . }}
        {{ with $page.Params }}
        <section class="post clearfix">
          <a href="{{ .Permalink }}" alt="Post '{{ .Params.Title }}' thumbnail.">
            {{ partial "image" (dict "src" (printf "images/%s" .Image) "alt" (printf "Thumbnail for '%s' post" .Title) "size" "150x85" "page" $page) }}
            <span>{{ if le (len .Title) 45 }}{{ .Title }}{{ else }}{{ substr .Title 0 45 }}...{{ end }}</span>
          </a>
        </section>
        {{ end }}
        {{ end }}
      </div>
    </section>

    <section class="facebook-snippet">
      <iframe name="f2885963d4ac714" width="1000px" height="1000px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v7.0/plugins/page.php?adapt_container_width=true&amp;app_id=1016249582090260&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df127aa554a86adc%26domain%3Ddevakimbo.com%26origin%3Dhttps%253A%252F%252Fdevakimbo.com%252Ff1c74c7d3647a04%26relation%3Dparent.parent&amp;container_width=288&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fdevakimbo&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;small_header=false&amp;tabs=&amp;width=" style="border: none; visibility: visible;" class=""></iframe>
    </section>
  </aside>
</section>

<div id="snackbar">Link copied to clipboard</div>

{{ end }}