{{ define "main" }}

<div class="content">
  <div id="primary">
    {{ partial "page-title" . }}
    {{ partial "social-share" . }}
    {{ .Content }}
    {{ partial "social-share" . }}

    <div class="about-author">
      {{ range .Site.Params.authors }}
      {{ if eq .name $.Params.author }}
      <p class="name">{{ .name }}</p>
      <p class="details">
        <img alt="{{ .name }} gravatar" src="{{ .gravatar }}" />
        <span class="name-mobile">{{ .name }}</span>
        <span class="bio">{{ .bio }}</span>
      </p>
      <a href="https://{{ .www }}" target="_blank" class="www text-primary">Personal Website</a>
      {{ end }}
      {{ end }}
    </div>

    <div class="related-posts">
      {{ range where (where .Site.Pages.ByDate.Reverse "Type" "posts") "Date.Unix" "<" .Date.Unix }}
      {{ if and (lt ($.Scratch.Get "related_matches") $.Site.Params.NumRelatedPosts) (ge (intersect $.Params.tags .Params.tags | len) 1) }}
      {{ if not ($.Scratch.Get "related_matches") }}
      <h3>Related Posts</h3>
      <div class="post-rels">
        {{ end }}

        <a href="{{ .Permalink }}" alt="Post '{{ .Params.Title }}' thumbnail.">
          {{ partial "image" (dict "src" (printf "images/%s" .Params.Image) "alt" (printf "Thumbnail for '%s' post" .Params.Title) "size" "260x146" "sizes" (dict "320" "206x116" "375" "260x146" "425" "315x177" "768" "365x205" "1024" "220x124") "page" .) }}
          <span class="text-hover-highlight">{{ .Title }}</span>
        </a>

        {{ $.Scratch.Add "related_matches" 1 }}
        {{ end }}
        {{ end }}
        {{ if $.Scratch.Get "related_matches" }}
      </div>
      {{ end }}
    </div>

  </div>
  <aside class="right-sidebar" itemtype="https://schema.org/WPSideBar" itemscope>
    <div class="search-sidebar">
      <label>
        <span>Search for:</span>
        <input name="search" class="search-field" type="search" value="Search..." title="Search for post" />
      </label>
    </div>

    <div class="course-promo-sidebar">
      {{ partial "image" (dict "src" "images/laurel.jpg" "size" "288x258" "static" true) }}
      <span class="introduction">5 Day FREE IT Career Planning Course!</span>
      <button class="optin-career-planing-course" type="button">Sign me up!</button>
    </div>

    <div class="popular-recent">
      <ul class="clear">
        <li><a href="#popular" class="popular selected">🔥 Popular</a></li>
        <li><a href="#recent" class="recent">⏱️Recent</a></li>
      </ul>
      <div class="popular selected">
        {{ range .Site.Params.popular }}
        {{ $page := $.Site.GetPage .page }}
        {{ with $page.Params }}
        <div class="post clearfix">
          <a href="{{ $page.Permalink }}" alt="Post '{{ .Title }}' thumbnail.">
            {{ partial "image" (dict "src" (printf "images/%s" .Image) "alt" (printf "Thumbnail for '%s' post" .Title) "size" "150x85" "page" $page) }}
            <span>{{ if le (len .Title) 45 }}{{ .Title }}{{ else }}{{ substr .Title 0 45 }}...{{ end }}</span>
          </a>
        </div>
        {{ end }}
        {{ end }}
      </div>
      <div class="recent">
        {{ range (where .Site.RegularPages "Section" "posts" | first 5) }}
        {{ $page := . }}
        {{ with $page.Params }}
        <div class="post clearfix">
          <a href="{{ .Permalink }}" alt="Post '{{ .Params.Title }}' thumbnail.">
            {{ partial "image" (dict "src" (printf "images/%s" .Image) "alt" (printf "Thumbnail for '%s' post" .Title) "size" "150x85" "page" $page) }}
            <span>{{ if le (len .Title) 45 }}{{ .Title }}{{ else }}{{ substr .Title 0 45 }}...{{ end }}</span>
          </a>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>

    <div class="facebook-snippet">
      <iframe name="f2885963d4ac714" width="1000px" height="1000px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v7.0/plugins/page.php?adapt_container_width=true&amp;app_id=1016249582090260&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df127aa554a86adc%26domain%3Ddevakimbo.com%26origin%3Dhttps%253A%252F%252Fdevakimbo.com%252Ff1c74c7d3647a04%26relation%3Dparent.parent&amp;container_width=288&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fdevakimbo&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;small_header=false&amp;tabs=&amp;width=" style="border: none; visibility: visible;" class=""></iframe>
    </div>
  </aside>
</div>

{{ end }}