{{ define "main" }}

<div class="content">
  <div id="primary">
    {{ partial "page-title" . }}
    {{ partial "social-share" . }}

    {{ .Content }}

    {{ partial "social-share" . }}
  </div>
  <aside class="right-sidebar" itemtype="https://schema.org/WPSideBar" itemscope>
    <div class="search-sidebar">
      <label>
        <span>Search for:</span>
        <input name="search" class="search-field" type="search" value="Search..." title="Search for post" />
      </label>
    </div>

    <div class="course-promo-sidebar">
      {{ partial "lazy-image" (dict "src" "images/laurel.jpg") }}
      <span class="introduction">5 Day FREE IT Career Planning Course!</span>
      <button class="optin-career-planing-course" type="button">Sign me up!</button>
    </div>

    <div class="popular-recent">
      <ul class="clear">
        <li><a href="#popular" class="selected">🔥 Popular</a></li>
        <li><a href="#recent">⏱️Recent</a></li>
      </ul>
      <div class="popular">
        {{ range .Site.Params.popular }}
        {{ $page := .page }}
        {{ with $.Site.GetPage .page }}
        {{ with .Params }}
        <div class="post clearfix">
          <a href="#" alt="Post '{{ .Title }}' thumbnail.">
            {{ partial "lazy-image" (dict "src" (printf "%s/images/%s" $page .Image) "alt" "foo") }}
            <span>{{ if le (len .Title) 45 }}{{ .Title }}{{ else }}{{ substr .Title 0 45 }}...{{ end }}</span>
          </a>
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
      <div class="recent">
        {{ range (where .Site.RegularPages "Section" "posts" | first 5) }}
        <div class="post clearfix">
          <a href="#" alt="Post '{{ .Params.Title }}' thumbnail.">
            {{ partial "lazy-image" (dict "src" (printf "%s/images/%s" .Dir .Params.Image) "alt" "foo") }}
            <span>{{ if le (len .Title) 45 }}{{ .Title }}{{ else }}{{ substr .Title 0 45 }}...{{ end }}</span>
          </a>
        </div>
        {{ end }}
      </div>
    </div>

    <div class="facebook-snippet">
      <iframe name="f2885963d4ac714" width="1000px" height="1000px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v7.0/plugins/page.php?adapt_container_width=true&amp;app_id=1016249582090260&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df127aa554a86adc%26domain%3Ddevakimbo.com%26origin%3Dhttps%253A%252F%252Fdevakimbo.com%252Ff1c74c7d3647a04%26relation%3Dparent.parent&amp;container_width=288&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fdevakimbo&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;small_header=false&amp;tabs=&amp;width=" style="border: none; visibility: visible; width: 288px; height: 130px;" class=""></iframe>

    </div>
  </aside>
</div>

{{ end }}