// @import "../variables";
// @import "../variables_local";
// @import "../appdy_common";

#consent-container {
  .trigger {
    position: fixed;
    left: 20px;
    bottom: 20px;
    color: #d1ad79;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
  }

  .content {
    position: fixed;
    left: -2000px;
    bottom: 0;
    padding: 10px;
    border: 1px solid map-get($colors, primary);
    background: white;
    color: map-get($colors, text);
    opacity: 0;
    transition: all .2s ease-in;
    z-index: 1000;

    &.visible {
      opacity: 1;
      left: 0;
    }
  }

  a {
    color: map-get($colors, text);
    border-bottom: 1px dashed map-get($colors, text);
    white-space: nowrap;

    &:hover {
      color: map-get($colors, primary);
      border-bottom-color: map-get($colors, primary);
    }
  }

  .description {
    display: block;
    margin-bottom: 10px;
  }

  .options {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }

  label {
    span {
      margin-left: 5px;
    }
  }

  .buttons {
    text-align: center;
  }

  button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    white-space: nowrap;
    text-transform: uppercase;
    border: 1px solid map-get($colors, primary);

    &.save {
      color: map-get($colors, primary);
      background: white;
      font-weight: 300;

      &:hover {
        color: map-get($colors, primary-hover);
        border-color: map-get($colors, primary-hover);
      }
    }

    &.accept-all {
      color: white;
      background: map-get($colors, primary);
      font-weight: 400;

      &:hover {
        border-color: map-get($colors, primary-hover);
        background: map-get($colors, primary-hover);
      }
    }
  }
}

@include media($tablet) {
  #consent-container {
    form {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    .option {
      margin: 0 10px 10px;
    }
  }
}

@include media($laptop) {
  #consent-container {
    .content {
      width: 300px;
      bottom: 20px;

      &.visible {
        left: 20px;
      }

      form {
        display: inline;
      }

      .options {
        display: block;
      }
    }
  }
}
