section.list {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  margin: auto;
  margin-bottom: 40px;

  h2 {
    font-size: 20px;
  }
}

@include media($tablet) {
  .thumbnail {
    width: calc(100%/3.15);
    margin: 0 0 40px 15px;
  }
}

@include media-min-max($tablet, $laptop - 1) {
  .thumbnail {
    &:first-of-type,
    &:nth-of-type(4),
    &:nth-of-type(7),
    &:nth-of-type(10) {
      margin-left: 0;
    }
  }
}

@include media($laptop) {
  .thumbnail {
    &:first-of-type,
    &:nth-of-type(4),
    &:nth-of-type(7) {
      margin-left: 0;
    }
  }
}