.pagination {
  display: flex;
  justify-content: space-between;
  width: 100%;

  span {
    font-size: 20px;

    &:hover {
      color: map-get($colors, primary);
    }
  }

  .prev:hover *,
  .next:hover * {
    color: map-get($colors, primary);
  }

  i {
    display: none;
    position: absolute;

    &:before {
      font-size: 25px;
    }
  }

  .prev,
  .next {
    position: relative;
    margin: 1.5rem 0;
  }
}

@include media($tablet) {
  .pagination {
    i {
      display: inline;
    }

    .prev,
    .next {
      max-width: 40%;
    }

    .prev {
      padding-left: 30px;

      i {
        left: 0;
      }
    }

    .next {
      padding-right: 30px;

      i {
        right: 0;
      }
    }
  }
}