.pagination {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;

  span {
    font-size: 20px;

    &:hover {
      color: map-get($colors, primary);
    }
  }

  svg {
    position: absolute;
    width: 25px;
    height: 25px;
  }

  .prev,
  .next {
    position: relative;
    margin: 1.5rem 0;
    width: 110px;
    max-width: 80px;

    &:hover *,
    &:hover * {
      color: map-get($colors, primary);
      fill: map-get($colors, primary);
    }
  }

  .prev {
    padding-left: 35px;

    svg {
      left: 0;
    }
  }

  .next {
    padding-right: 35px;
    text-align: right;

    svg {
      right: 0;
    }
  }

  &.extended {
    text-align: left;

    a {
      width: initial;
      max-width: initial;
    }

    .next {
      text-align: left;
    }

    svg {
      top: 50%;
    }
  }
}

@include media($tablet) {
  .pagination {
    .prev {
      padding-left: 30px;
    }

    .next {
      padding-right: 30px;
    }

    &.extended {
      a {
        width: 300px;
        text-align: left;
      }

      .prev,
      .next {
        max-width: 40%;
      }
    }
  }
}

@include media($laptop) {
  .pagination {
    .next {
      margin-right: 20px;
    }
  }
}