#primary {
  width: 100%;
}

.page-title {
  text-align: center;

  img {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }
}

.right-sidebar {
  width: 100%;

  > div {
    border: 2px solid #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
  }
}

.search-sidebar {
  input {
    font-size: 16px;
    width: 100%;
    border: 0;
    color: map-get($colors, text);
  }
}

.course-promo-sidebar {
  .introduction {
    display: block;
    font-size: 21px;
    font-weight: 700;
    color: map-get($colors, text-dark);
    text-align: center;
  }

  button {
    display: block;
    font-size: 15px;
    width: 100%;
    color: white;
    background: map-get($colors, secondary);
    font-weight: 600;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.4;
    border: none;

    &:hover {
      background: map-get($colors, secondary-hover);
    }
  }
}

.right-sidebar .popular-recent {
  border: 0;
  padding: 0;

  ul {
    margin: 0;
    height: 40px;
    list-style: none;
    overflow: hidden;
    z-index: 1;

    li {
      display: inline;
      float: left;
      // font-size: 12px;
      font-weight: 700;
      cursor: pointer;

      a {
        float: left;
        line-height: 40px;
        padding: 0 13px 0 10px;
        border: 0px solid #f0f0f0;
        border-bottom: none;

        &.selected {
          border-width: 2px;
          background: white;
        }
      }
    }
  }

  > div {
    margin-top: -3px;
    padding: 5px;
    border: 2px solid #f0f0f0;
    padding: 10px;
    overflow: hidden;

    .post {
      margin-top: 5px;
      border-top: 1px solid #f0f0f0;
      max-height: 90px;
      overflow: hidden;
    }

    img {
      margin: 5px 10px 0 0;
    }

    span {
      line-height: 20px;
    }
  }
}

.posts-page .content {
  display: flex;
  flex-wrap: wrap;


  .right-sidebar {
    label span {
      position: absolute;
      clip: rect(0,0,0,0);
      hight: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
    }
  }
}

.popular-recent {
  img {
    float: left;
    width: 150px;
    height: 84px;
  }
}

.facebook-snippet {
  width: 288px;
  height: 130px;
}

.social-share {
  margin: 20px 0;

  a {
    display: inline-block;
    font-size: 18px;
    margin: 0 5px 10px 0;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;

    i,
    span {
      color: white;
    }
  }

  i {
    font-size: 16px;
    margin-right: 10px;
  }

  span {
    font-size: 15px;
    font-weight: 800;
    letter-spacing: .2;
  }

  .fb-share {
    background: map-get($colors, facebook);

    &:hover {
      background: map-get($colors, facebook-hover);
    }
  }

  .twitter-share {
    background: map-get($colors, twitter);

    &:hover {
      background: map-get($colors, twitter-hover);
    }
  }

  .linkedin-share {
    background: map-get($colors, linkedin);

    &:hover {
      background: map-get($colors, linkedin-hover);
    }
  }

  .email-share {
    background: map-get($colors, primary);

    &:hover {
      background: #fbb44a;
    }
  }
}

.about-author {
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;

  img {
    border: 1px solid #d8d8d8;
    border-radius: 50%;
  }

  .name,
  .name-mobile {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .name {
    display: none;
  }

  .name-mobile {
    display: block;
    // text-align: center;
  }

  .bio {
    display: inline;
    font-size: 16px;
    margin-bottom: 10px;
    clear: both;
  }

  .www {
    display: block;
    text-align: center;
  }

  .details {
    margin-bottom: 1rem;
    text-align: center;
  }
}

@include media($tablet) {
  h1 {
    font-size: 50px;
  }

  .about-author {
    .name {
      display: block
    }

    img {
      display: inline-block;
      float: left;
      margin: 0 15px 0 0;
    }

    .name-mobile {
      display: none;
    }
  }
}

@include media($laptop) {
  .page-title {
    text-align: left;
  }

  .posts-page .content {
    flex-wrap: nowrap;

    #primary {
      padding-right: 30px;
    }
  }

  #primary {
    width: 70%;
  }

  .right-sidebar {
    width: 30%;
  }
}
