<footer class="main_footer wow fadeInUp blue_gradient">
  <div class="container">
    <div class="footer_top  text-center">
      <div class="footer_top_logo">
        <a href="{{ site.BaseURL }}" class="footer-logo"><img src="{{ `images/logo-icon.png` | relURL }}" alt="logo icon"></a>
      </div>
      <p>{{ site.Params.footer.description | safeHTML }}</p>
    </div>
    <div class="row text-center">
      {{ if site.Params.footer.phone.enable }}
      <div class="col-sm-4">
        <div class="footer_sec">
          <i class="fa fa-phone-alt"></i>
          <h3>{{ site.Params.footer.phone.title }}</h3>
          <a href="tel:{{ site.Params.footer.phone.phone }}">{{ site.Params.footer.phone.phone }}</a>
        </div>
      </div>
      {{ end }}
      {{ if site.Params.footer.email.enable }}
      <div class="col-sm-4">
        <div class="footer_sec">
          <i class="fa fa-envelope"></i>
          <h3>{{ site.Params.footer.email.title }}</h3>
          <a href="mailto:{{ site.Params.footer.email.email }}">{{ site.Params.footer.email.email }}</a>
        </div>
      </div>
      {{ end }}
      {{ if site.Params.footer.skype.enable }}
      <div class="col-sm-4">
        <div class="footer_sec">
          <i class="fab fa-skype"></i>
          <h3>{{ site.Params.footer.skype.title }}</h3>
          <a href="skype:{{ site.Params.footer.skype.skype }}?call">{{ site.Params.footer.skype.skype }}</a>
        </div>
      </div>
    {{ end }}
    </div>
    <div class="copyrigt_text d-flex justify-content-between">
      <span>© Copyright {{ dateFormat "2006" site.Params.startYear }}-{{now.Format "2006"}} {{ site.Params.owner }}&nbsp;<span class="dot">·</span>
        <span class="footer-links">
          {{ range $index, $item := site.Params.footer.links }}
          {{ if ne $index 0 }}|{{ end }}
          <a href="{{ .URL | relURL}}">{{ .label }}</a>
          {{ end }}
        </span>
      </span>
      <!-- social icons -->
      <div class="social_div">
        <ul class="social_list">
          {{ if site.Params.social.facebook.enable }}
          {{ with site.Params.social.facebook }}
          <li><a href="{{ .URL }}" target="_blank"><i class="{{ .icon }}"></i></a></li>
          {{ end }}
          {{ end }}
          {{ if site.Params.social.instagram.enable }}
          {{ with site.Params.social.instagram }}
          <li><a href="{{ .URL }}" target="_blank"><i class="{{ .icon }}"></i></a></li>
          {{ end }}
          {{ end }}
          {{ if site.Params.social.twitter.enable }}
          {{ with site.Params.social.twitter }}
          <li><a href="{{ .URL }}" target="_blank"><i class="{{ .icon }}"></i></a></li>
          {{ end }}
          {{ end }}
          {{ if site.Params.social.youtube.enable }}
          {{ with site.Params.social.youtube }}
          <li><a href="{{ .URL }}" target="_blank"><i class="{{ .icon }}"></i></a></li>
          {{ end }}
          {{ end }}
          {{ if site.Params.social.pinterest.enable }}
          {{ with site.Params.social.pinterest }}
          <li><a href="{{ .URL }}" target="_blank"><i class="{{ .icon }}"></i></a></li>
          {{ end }}
          {{ end }}
        </ul>
      </div><!-- /. social icons -->
    </div>
  </div>
  <div class="svg_curve">
    <svg version="1.1" x="0px" y="0px"
      width="3293px" height="190.76px" viewBox="0 0 3293 190.76" enable-background="new 0 0 3293 190.76" xml:space="preserve">
      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M0,2.954V190.76h3293V0.868C3293,0.868,1760.584,400.175,0,2.954z"
      />
    </svg>
  </div>
</footer>

{{ if site.Params.gtag }}
<div id="consent-container">
  <i title="Cookie consent" class="fas fa-cookie-bite trigger"></i>
  <div class="content">
    <span class="description">This website uses cookies to enhance site navigation, analyse site usage, and assist in our marketing efforts. Without cookies some feature may not be available. By clicking "Accept cookies" you agree to our <a href="/privacy-policy" class="consent-cookie-policy">Cookie Policy</a>.</span>
    <form>
			<div class="option">
        <label>
          <input type="checkbox" name="necessary" checked="checked" disabled="disabled"><span>Necessary</span>
        </label>
      </div>
			<div class="option">
        <label>
          <input type="checkbox" name="marketing"><span>Marketing</span>
        </label>
      </div>
			<div class="option">
        <label>
          <input type="checkbox" name="analytics"><span>Analytics</span>
        </label>
      </div>
      <div class="buttons"><button type="button" class="save">Save</button><button type="button" class="accept-all">Accept All</button></div>
    </form>
  </div>
</div>
{{ end }}

<!-- JS Plugins -->
{{ range $index, $item := site.Params.assets.js}}
{{ $script := resources.Get $item.link | resources.Minify }}
<script src="{{ $script.Permalink | relURL }}"></script>
{{ end }}

{{ range site.Params.static.js}}
<script src="{{ .link | relURL }}"></script>
{{ end }}

{{ $script := resources.Get "js/script.js" }}
{{ if hugo.IsProduction }}
{{ $script = $script | minify}}
{{ end }}
<script src="{{ $script.Permalink | relURL }}"></script>

{{ if site.Params.cookies.enable }}
<!-- cookie -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button" class="btn btn-sm btn-primary ml-2">I Accept</span>
</div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ site.Params.cookies.expire_days }}
				});
				cookieBox.classList.add('cookie-box-hide');
			};
		}
	})(jQuery);
</script>
{{ end }}

{{ if site.Params.gtag }}
{{ $buildConf := (dict "minify" false "target" "esnext") }}

{{ if hugo.IsProduction }}
{{ $buildConf = merge $buildConf (dict "minify" true) }}
{{ end }}

{{ $script = resources.Get "js/consent.js" | js.Build $buildConf }}
<script src="{{ $script.Permalink | relURL }}"></script>
{{ end }}


{{ if site.Params.scrollToTop.enable}}
<a href="javascript:void(0);" class="scrollUp"><i class="fas fa-chevron-up"></i></a>
{{ end }}

{{ if site.Params.modal.enable }}
{{ with site.Params.modal }}
<div id="joiningPopup" class="white-popup mfp-hide custom_mfp_popup">
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header text-center">
      <h3 class="modal-title">Request for a Quote</h3>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam</p>
      <button title="Close (Esc)" type="button" class="mfp-close">×</button>
    </div>
    <!-- Modal body -->
    <div class="modal-body">
      <div class="get_quote_form">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Enter Your Name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Enter Phone No.">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="email" class="form-control" name="name" placeholder="Enter Email Address">
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Enter Your Message"></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn">Submit Your Request</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ end }}