<header class="header" itemtype="https://schema.org/WPHeader" itemscope>
  <a href="{{ site.BaseURL }}" tabindex="-1">
    {{ partial "lazy-image" (dict "alt" "logo" "class" "img-responsive light_logo" "image" site.Params.logo "width" 200 "height" 40 "lazy" false)}}
  </a>

  <!-- Main Nav Menu -->
  <nav id="primary_navigation" itemtype="https://schema.org/SiteNavigationElement" itemscope>
    <input class="menu-btn" type="checkbox" id="menu-btn" aria-controls="primary-menu"  />
    <label class="menu-icon" for="menu-btn" aria-expanded="false"><span class="navicon"></span></label>
    <ul id="primary-menu" class="menu">

      <li class="nav-item {{ if .IsHome }}active{{ end }}">
        <a class="nav-link" href="{{ site.BaseURL }}" {{ if .IsHome }}aria-current="page"{{ end }}>Home</a>
      </li>

      {{ $current := . }}
      {{ range site.Menus.main }}
      {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
      {{ $active = or $active (eq .Name $current.Title) }}
      {{ if .HasChildren }}
      <li class="menu-item nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .Name }}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{ range .Children }}
          {{ if hasPrefix .URL "#" }}
          <a class="dropdown-item" href="{{ .URL }}" {{ if $active }}aria-current="page"{{ end }}>{{ .Name }}</a>
          {{ else }}
          <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
          {{ end }}
          {{ end }}
        </div>
      </li>
      {{ else }}
      <li class="nav-item {{ if $active }}active{{ end }}" >
        {{ if hasPrefix .URL "#" }}
        <a class="nav-link" href="{{ .URL }}" {{ if $active }}aria-current="page"{{ end }}>{{ .Name }}</a>
        {{ else }}
        <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
        {{ end }}
      </li>
      {{ end }}
      {{ end }}
    </ul>

    {{ if site.Params.navCta.enable }}
    <a href="template-one.html#joiningPopup" class="get_quote btn blue_gradient open-popup-link">Get a quote</a>
    {{ end }}
  </nav>
</header>