{{ $placeholder := "images/placeholder.png" }}
{{ $params := (dict "lazy" true "sizes" (dict) "class" "" "alt" "" "title" "") }}
{{ $params = merge $params . }}

{{ $width := "" }}
{{ $height := "" }}
{{ $sizes := ""}}

{{ $media := (slice) }}
{{ $srcset := (slice) }}
{{ $type := (slice) }}

{{ $sources := (slice) }}

{{ if $params.size }}
{{ $size := split .size "x" }}
{{ $width = index $size 0 }}
{{ $height = index $size 1 }}
{{ end }}

{{ $src := "" }}

{{ $srcNoExt := index (split $params.src ".") 0 }}
{{ $webp := printf "%s.%s" $srcNoExt "webp" }}
{{ $webp = $params.page.Resources.GetMatch $webp }}

{{ with $webp }}
{{ $sources = $sources | append (dict "srcset" (.Resize (printf "%sx" $width)).RelPermalink "media" (printf "(min-width: %s)" $width) "type" "image/webp") }}
{{ end }}

{{ if $params.static }}
{{ $src = $params.src | relURL }}
{{ else }}
{{ $orig := $params.page.Resources.GetMatch $params.src }}
{{ $src = ($orig.Resize (printf "%sx" $width)).RelPermalink }}

{{ range $params.sizes }}
{{ $w := index (split . "x") 0 }}
{{ if $webp }}
{{ $sources = $sources | append (dict "srcset" ($webp.Resize (printf "%sx" $w)).RelPermalink "media" (printf "(min-width: %s)" $w) "type" "image/webp") }}
{{ end }}

{{ $sources = $sources | append (dict "srcset" ($orig.Resize (printf "%sx" $w)).RelPermalink "media" (printf "(min-width: %s)" $w)) }}
{{ end }}

{{ end }}

{{ $width = printf `width="%spx"` $width | safeHTMLAttr }}
{{ $height = printf `height="%spx"` $height | safeHTMLAttr }}


{{ if .lazy }}
<picture>
  {{ range $sources }}
  <source srcset="{{ .srcset }}" media="{{ .media }}" {{ with .type }}type="{{ .type }}"{{ end }}>
  {{ end }}
  <img src="{{ $placeholder | relURL }}" alt="{{ .alt }}" class="lazy {{ .class }}" data-src="{{ $src }}" data-srcset="{{ $srcset }}" title="{{ with $params.title }}{{ . }}{{ end }}" {{ with $width }}{{ . }}{{ end }} {{ with $height }}{{ . }}{{ end }}>
</picture>
{{ else }}
<picture>
  {{ range $sources }}
  <source srcset="{{ .srcset }}" media="{{ .media }}" {{ with .type }}type="{{ .type }}"{{ end }}>
  {{ end }}
  <img src="{{ $src }}" alt="{{ .alt }}" class="{{ .class }}" title="{{ with $params.title }}{{ . }}{{ end }}" {{ with $width }}{{ . }}{{ end }} {{ with $height }}{{ . }}{{ end }}>
</picture>
{{ end }}
<noscript>
  <img src="{{ $src }}" alt="{{ .alt }}" class="{{ .class }}" title="{{ with $params.title }}{{ . }}{{ end }}" {{ with $width }}{{ . }}{{ end }} {{ with $height }}{{ . }}{{ end }}>
</noscript>
