<div class="modal" data-name="{{ .name }}">
  <div class="backdrop"></div>
  <div class="container">
    {{ partial "icon" (dict "type" "cross" "class" "close" "click" (printf `app.closeModal("%s")` .name)) }}
    <div class="content">
      {{ if isset . "imageSrc" }}
      {{ partial "image" (dict "src" .imageSrc "alt" .imageAlt "size" .imageSize "sizes" .imageSizes "asset" .imageAsset "page" .) }}
      {{ end }}
      <div class="text">
        {{ .content | safeHTML }}
      </div>
    </div>
  </div>
</div>