<div class="page-title">
  {{ if or .Params.image .Params.date .Params.author }}
  {{ if .Params.image }}
  <img src="images/{{ .Params.image }}" alt="{{.Title}}">
  {{ end }}

  {{ if .Params.subtitle }}
  <span>{{ .Params.subtitle }}</span>
  {{ end }}
  <h1>{{.Title}}</h1>

  {{ if or (and .Site.Params.showPublishedData .Params.date) .Params.author }}
  <p>{{ if (and .Site.Params.showPublishedData .Params.date) }}Published on {{ .PublishDate.Format "Jan 02, 2006" }} {{ end }}{{ if .Params.author }}by <span class="text-primary">{{.Params.Author}}</span>{{ end }}</p>
  {{ end }}
  {{ end }}
</div>
