<div class="page-title">
  {{ if .Params.images }}
  {{ partial "image" (dict "src" (printf "images/%s" (index .Params.Images 0)) "alt" .Title "size" "719x405" "sizes" (slice "290x163" "345x194" "395x222" "330x185" "666x375" "719x405" "990x555") "page" .) }}
  {{ end }}

  {{ if .Params.subtitle }}
  <span>{{ .Params.subtitle }}</span>
  {{ end }}

  {{ if eq .Kind "term" }}
  <h1>{{ .Title }} ({{ .Data.Singular | title }})</h1>
  {{ else }}
  <h1>{{ .Title }}</h1>
  {{ end }}

  {{ $author := ""}}
  {{ range .Params.authors }}
  {{ $author = . }}
  {{ end }}

  {{ if or .Params.date $author }}
  <div class="entry-meta">
    {{ if or (and .Site.Params.showPublishedData .Params.date) $author }}
    <p>{{ if (and .Site.Params.showPublishedData .Params.date) }}Published on {{ .PublishDate.Format "Jan 02, 2006" }} {{ end }}{{ if $author }}by <a href="{{ (printf `authors/%s` $author | urlize) | relURL }}" class="text-primary" title="View all posts by {{ $author }}">{{ $author }}</a>{{ end }}</p>
    {{ end }}

    {{ if eq .Type "posts" }}
    {{ partial "social-share" . }}
    {{ end }}
  </div>

  {{ end }}
</div>
