{{ $brand := .Site.Params.Owner }}
{{ $organizationName := delimit (split (.Site.Params.Owner | lower) " ") "" }}
{{ $organization := printf `%s#/schema/organization/%s` (.Site.BaseURL | safeHTML) $organizationName }}
{{ $organizationURL := .Site.BaseURL | safeHTML }}
{{ $logo := printf `%s#/schema/image/logo/%s` (.Site.BaseURL | safeHTML) $organizationName }}
{{ $logoURL := "images/logo-oneliner.jpg" | absURL | safeHTML }}
{{ $logoCaption := printf "%s logo." .Site.Params.Title }}
{{ $website := printf "%s#/schema/website/%s" (.Site.BaseURL | safeHTML) $organizationName }}
{{ $websiteURL := .Site.BaseURL | safeHTML }}
{{ $websiteTitle := .Site.Title }}
{{ $breadcrumb := printf "%s#/schema/breadcrumb/%s" (.Site.BaseURL | safeHTML) $organizationName}}

{{ $author := printf `%s#/schema/person/%s` (.Site.BaseURL | safeHTML) $organizationName }}

{{ $breadcrumbItems := (slice .) }}
{{ $breadcrumbCurrentItem := . }}
{{ range (slice 1 2 3 4) }}
{{ if $breadcrumbCurrentItem.Parent }}
{{ $breadcrumbItems = $breadcrumbItems | append $breadcrumbCurrentItem.Parent }}
{{ $breadcrumbCurrentItem = $breadcrumbCurrentItem.Parent }}
{{ end }}
{{ end }}
{{ $breadcrumbItems = partial "reverse-slice" $breadcrumbItems }}

{{ $paginator := .Scratch.Get "paginator" }}
{{ $webpageURL := .Permalink }}

{{ if $paginator }}
{{ $webpageURL = $paginator.URL | absURL }}
{{ end }}

{{ if or .IsHome .IsSection }}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@graph": [{
      "@type": "Organization",
      "@id": {{ $organization }},
      "brand": {{ $brand }},
      "url": {{ .Site.BaseURL }},
      "logo": {
        "@type": "ImageObject",
        "@id": {{ $logo }},
        "url": {{ $logoURL }},
        "width": 180,
        "height": 36,
        "caption": {{ $logoCaption }}
      },
      "image": {
        "@id": {{ $logo }}
      },
      "sameAs": [{{ range $i, $item := .Site.Params.socialFullLinks }}{{ if $i }},{{ end }}{{ $item }}{{ end }}]
    }, {
      "@type": "WebSite",
      "@id": {{ $website }},
      "url": {{ $websiteURL }},
      "name": "{{ $websiteTitle }}",
      "publisher": {
        "@id": {{ $organization }}
      }
    }, {
      "@type": "WebPage",
      "@id": {{ $webpageURL }},
      "url": {{ $webpageURL }},
      "inLanguage": "{{ .Site.LanguageCode | default `en-US` }}",
      "name": "{{ .Site.Title }}",
      "datePublished": "2020-12-15T08:13:22+00:00",
      "dateModified": "2020-12-15T21:54:07+00:00",
      "description": "{{ if .Summary }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}",
      "isPartOf": {
        "@id": {{ $website }}
      },
      "about": {
        "@id": {{ $organization }}
      }
    }, {
      "@type": "BreadcrumbList",
      "@id": {{ $breadcrumb }},
      "itemListElement": [
        {{ range $i, $item := $breadcrumbItems -}}
        {{- if ne $i 0 -}}, {{- end -}}
        {
          "@type": "ListItem",
          "position": {{- add $i 1 -}},
          "item": {
            "@type": "WebPage",
            "@id": {{ $item.Permalink }},
            "url": {{ $item.Permalink }},
            "name": "{{ if eq $item.Kind `term` }}{{ $item.Title }} ({{ $item.Data.Singular | title }}){{ else }}{{ $item.Title }}{{ end }}"
          }
        }
        {{- end -}}
      ]
    }]
  }
</script>
{{ else if eq .Type "posts" }}
{{ "else if eq .Type posts" -}}

{{ $authorName := .Site.Author.name }}

{{ if .Params.authors }}
{{ $authorName = index .Params.authors 0 }}
{{ end }}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@graph": [{
      "@type": "Organization",
      "@id": {{ $organization }},
      "brand": {{ $brand }},
      "url": {{ .Site.BaseURL }},
      "logo": {
        "@type": "ImageObject",
        "@id": {{ $logo }},
        "url": {{ $logoURL }},
        "width": 180,
        "height": 36,
        "caption": {{ $logoCaption }}
      },
      "image": {
        "@id": {{ $logo }}
      },
      "sameAs": [{{ range $i, $item := .Site.Params.socialFullLinks }}{{ if $i }},{{ end }}{{ $item }}{{ end }}]
    }, {
      "@type": "WebSite",
      "@id": {{ $website }},
      "url": {{ $websiteURL }},
      "name": {{ $websiteTitle }},
      "publisher": {
        "@id": {{ $organization }}
      }
    }, {
      "@type": "WebPage",
      "@id": {{ $webpageURL }},
      "url": {{ $webpageURL }},
      "inLanguage": "{{ .Site.LanguageCode | default `en-US` }}",
      "name": {{ .Title }},
      "datePublished": {{ .PublishDate }},
      "dateModified": {{ .Lastmod }},
      "description": {{ .Summary }},
      "isPartOf": {
        "@id": {{ $website }}
      },
      "about": {
        "@id": {{ $organization }}
      }
    }, {
      "@type": "BreadcrumbList",
      "@id": {{ $breadcrumb }},
      "itemListElement": [
        {{ range $i, $item := $breadcrumbItems -}}
        {{- if ne $i 0 -}}, {{- end -}}
        {
          "@type": "ListItem",
          "position": {{- add $i 1 -}},
          "item": {
            "@type": "WebPage",
            "@id": {{ $item.Permalink }},
            "url": {{ $item.Permalink }},
            "name": "{{ if eq $item.Kind `term` }}{{ $item.Title }} ({{ $item.Data.Singular | title }}){{ else }}{{ $item.Title }}{{ end }}"
          }
        }
        {{- end -}}
      ]
    }, {
      "@type": "BlogPosting",
      "articleSection": "{{ .Section }}",
      "name": "{{ .Title | safeJS }}",
      "headline": "{{ .Title | safeJS }}",
      "description": "{{ .Summary | safeJS }}",
      "inLanguage": "{{ .Site.LanguageCode | default `en-US` }}",
      "isFamilyFriendly": "true",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": {{ .Permalink }}
      },
      "author" : {
        "@type": "Person",
        "name": "{{ $authorName }}"
      },
      "creator" : {
        "@type": "Person",
        "name": "{{ $authorName }}"
      },
      "accountablePerson" : {
        "@type": "Person",
        "name": "{{ $authorName }}"
      },
      "copyrightHolder": {{ .Site.Params.Owner }},
      "copyrightYear": {{ now.Format "2006" }},
      "dateCreated": {{ .Date }},
      "datePublished": {{ .PublishDate }},
      "dateModified": {{ .Lastmod }},
      "publisher":{
        "@type": "Organization",
        "@id": {{ $organization }}
      },
      "image": {
        "@id": {{ printf "%s#/schema/image/%s" (.Permalink | safeHTML) (.Title | anchorize) }}
      },
      {{ if .Params.videos -}}
      "video": {
        "@id": {{ printf "%s#/schema/video/%s" (.Permalink | safeHTML) (.Title | anchorize) }}
      },
      {{ end -}}
      "url" : {{ .Permalink }},
      "wordCount" : "{{ .WordCount }}",
      "keywords": [{{ range $i, $item := .Params.tags }}{{ if $i }},{{ end }}{{ $item }}{{ end }}]
    }, {
      "@type": "Person",
      "@id": {{ $author }},
      "name": {{ $authorName }},
      "image": {
        "@id": {{ printf "%s#/schema/author/image/%s" (.Permalink | safeHTML) (.Title | anchorize) }}
      }
    }]
  }
</script>
{{ else }}
{{ "else" -}}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@graph": [{
      "@type": "Organization",
      "@id": {{ $organization }},
      "brand": {{ $brand }},
      "url": {{ $organizationURL }},
      "logo": {
        "@type": "ImageObject",
        "@id": {{ $logo }},
        "url": {{ $logoURL }},
        "width": 180,
        "height": 36,
        "caption": {{ $logoCaption }}
      },
      "image": {
        "@id": {{ $logo }}
      },
      "sameAs": [{{ range $i, $item := .Site.Params.socialFullLinks }}{{ if $i }},{{ end }}{{ $item }}{{ end }}]
    }, {
      "@type": "WebSite",
      "@id": {{ $website }},
      "url": {{ $websiteURL }},
      "name": "{{ $websiteTitle }}",
      "publisher": {
        "@id": {{ $organization }}
      }
    }, {
      "@type": "WebPage",
      "@id": {{ $webpageURL }},
      "url": {{ $webpageURL }},
      "inLanguage": "{{ .Site.LanguageCode | default `en-US` }}",
      {{ if eq .Kind "term" -}}
      "name": "{{ .Title }} ({{ .Data.Singular | title }})",
      {{ else }}
      "name": "{{ .Title }}",
      {{ end -}}
      "datePublished": {{ .PublishDate }},
      "dateModified": {{ .Lastmod }},
      "description": "{{ .Summary }}",
      "isPartOf": {
        "@id": {{  $website }}
      },
      "about": {
        "@id": {{ $organization }}
      }
    }, {
      "@type": "BreadcrumbList",
      "@id": {{ $breadcrumb }},
      "itemListElement": [
        {{ range $i, $item := $breadcrumbItems -}}
        {{- if ne $i 0 -}}, {{- end -}}
        {
          "@type": "ListItem",
          "position": {{- add $i 1 -}},
          "item": {
            "@type": "WebPage",
            "@id": {{ $item.Permalink }},
            "url": {{ $item.Permalink }},
            "name": "{{ if eq $item.Kind `term` }}{{ $item.Title }} ({{ $item.Data.Singular | title }}){{ else }}{{ $item.Title }}{{ end }}"
          }
        }
        {{- end -}}
      ]
    }]
  }
</script>
{{ end }}