{{ with site.Data.homepage.counter }}
<div class="counter_sec love_counter">
  <div class="container">
    <div class="counter_area mt-30 text-center">
      <div class="row d-flex justify-content-center">
        {{ range $index, $item := .item }}
        {{ with $item}}
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="counter wow slideInUp" data-wow-duration="{{ mul (add $index 1) 0.5}}s" data-wow-delay="0s">
            <sub><span class="love_count">{{ .number }}</span><span>+</span></sub>
            <span>{{ .title }}</span>
            {{ if .description }}<p>{{ .description }}</p>{{ end }}
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
