{{ with site.Data.homepage.team }}
<section class="team_sec" id="team">
  <div class="container">
    <div class="sec_header text-center">
      <h2 class="sec_heading wow fadeInLeft"><span>{{ .title }}</span>{{ .subtitle }}</h2>
      <p class="wow fadeInLeft">{{ .description }}</p>
    </div>
    <div class="team_list wow fadeInUp">
      {{range .item }}
      <div class="team_member">
        {{ partial "lazy-image" (dict "alt" "Team Member" "image" .image) }}
        <h3 class="name">{{ .name }}</h3>
        <div class="role">{{ .role }}</div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
