{{ with site.Data.homepage.contact }}
<section class="contact_sec" id="contact">
  <div class="sec_header text-center">
    <div class="container" id="contact-container">
      <h2 class="sec_heading wow fadeInUp" data-aos="fade-up"><span>{{ .title }}</span>{{ .subtitle }}</h2>
      <p class="wow fadeInUp" data-aos="fade-up">{{ .description }}</p>
    </div>
  </div>
  <div class="container">
    <div class="contact-details d-flex">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <div class="contact_info wow fadeInLeft">
            <h3>{{ .contentTitle }}</h3>
            <p>{{ .content | safeHTML }}</p>
            {{ if .whenThisIsForYou.enable }}
            {{ with .whenThisIsForYou }}
            <div class="when-this-is-for-you">
              <h3>{{ .description }}</h3>
              <ul>
                {{ range .item }}
                <li><i class="fas fa-check-circle"></i>{{ .content | safeHTML }}</li>
                {{ end }}
              </ul>
            </div>
            {{ end }}
            {{ end }}
            {{ if .address.enable }}
            <hr>
            <h5><i class="fa fa-map-marker"></i> {{ .address.address }}
            </h5>
            <h5><i class="fa fa-envelope"></i> {{ .address.email }}
            </h5>
            <h5><i class="fa fa-phone"></i> {{ .address.phone }}
            </h5>
            {{ end }}
          </div>
        </div>
        <div class="col-sm-12 col-md-7">
          <div class="contact-form-area wow fadeInRight">
            {{ if .form.embed }}{{ .form.embed | safeHTML }}{{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}