{{ with site.Data.homepage.about }}
<section class="about_sec" id="about">
  <div class="container">
    <div class="sec_header text-center d-lg-none">
      <h2 class="sec_heading wow fadeInLeft"><span>{{ .title }}</span>{{ .subtitle }}</h2>
    </div>
    <div class="row">
      <div class="col-md-6 position-relative">
        <h2 class="sec_heading wow fadeInLeft d-none d-md-none d-lg-block text-center"><span class="text-center">{{ .title }}</span>{{ .subtitle }}</h2>
        <p class="wow fadeInLeft">{{ .description | safeHTML }}</p>
      </div>
      <div class="col-md-6">
        <div class="about_right wow fadeInRight">
          {{ partial "lazy-image" (dict "alt" "about" "image" "images/about-img.jpg" "width" 540 "height" 540) }}
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      {{ range $index, $item := .item }}
      <div class="col-lg-2 col-md-6 col-sm-6 wow slideInUp" data-wow-duration="{{ mul (add $index 1) 0.5}}s" data-wow-delay="0s">
        <div class="what-we-do-item text-center mt-30">
          <i class="{{ .icon }}"></i>
          <h5 class="title">{{ .title }}</h5>
          <p>{{ .description }}</p>
          <a href="#contact"><i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
