{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section">
  <div class="container">
    <div class="row clearfix">
      {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") 6 }}
      {{ range $paginator.Pages }}
      {{ .Render "thumbnail" }}
      {{ end }}
    </div>
  </div>
</section>


{{ if site.Data.homepage.news.enable }}
{{ with site.Data.homepage.news }}
<section class="news_sec" id="blog">
  <div class="container">
    {{ if site.Data.homepage.news.title }}
    <div class="sec_header text-center">
      <h2 class="sec_heading wow fadeInLeft"><span>{{ .title }}</span>{{ .subtitle }}</h2>
      <p class="wow fadeInLeft"></p>
    </div>
    {{ end }}

    <div class="blogs_list text-center">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 wow slideInUp" data-wow-duration="0.25s" data-wow-duration="0s">
          <div class="blog_item">
            <div class="blog_thumb">
              <a href="single-blog.html"><img src="images/blog-img.jpg" alt="team Member"></a>
            </div>
            <div class="blog_item_content">
              <ul class="blog_item_info">
                <li>
                  <i class="fa fa-user"></i>by John Doe
                </li>
                <li>
                  <i class="fa fa-calendar-alt"></i>Nov 22, 2018
                </li>
                <li>
                  <i class="fa fa-comments"></i>2
                </li>
              </ul>
              <a href="single-blog.html">
                <h4>Software Testing Service</h4>
              </a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis
                pulvinar vestibulum. Doneceleifend, sem sed dictum. Lorem ipsum dolor sit amet,
                consectetur
                adipiscing elits</p>
              <a href="single-blog.html" class="btn">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 wow slideInUp" data-wow-duration="0.5s" data-wow-delay="0s">
          <div class="blog_item">
            <div class="blog_thumb">
              <a href="single-blog.html"><img src="images/blog-img2.jpg" alt="team Member"></a>
            </div>
            <div class="blog_item_content">
              <ul class="blog_item_info">
                <li>
                  <i class="fa fa-user"></i>by John Doe
                </li>
                <li>
                  <i class="fa fa-calendar-alt"></i>Nov 22, 2018
                </li>
                <li>
                  <i class="fa fa-comments"></i>2
                </li>
              </ul>
              <a href="single-blog.html">
                <h4>Software Testing Service</h4>
              </a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis
                pulvinar vestibulum. Doneceleifend, sem sed dictum. Lorem ipsum dolor sit amet,
                consectetur
                adipiscing elits</p>
              <a href="single-blog.html" class="btn">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 wow slideInUp" data-wow-duration="0.75s" data-wow-delay="0s">
          <div class="blog_item">
            <div class="blog_thumb">
              <a href="single-blog.html"><img src="images/blog-img3.jpg" alt="team Member"></a>
            </div>
            <div class="blog_item_content">
              <ul class="blog_item_info">
                <li>
                  <i class="fa fa-user"></i>by John Doe
                </li>
                <li>
                  <i class="fa fa-calendar-alt"></i>Nov 22, 2018
                </li>
                <li>
                  <i class="fa fa-comments"></i>2
                </li>
              </ul>
              <a href="single-blog.html">
                <h4>Software Testing Service</h4>
              </a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis
                pulvinar vestibulum. Doneceleifend, sem sed dictum. Lorem ipsum dolor sit amet,
                consectetur
                adipiscing elits</p>
              <a href="single-blog.html" class="btn">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 wow slideInUp" data-wow-duration="1.00s" data-wow-delay="0s">
          <div class="blog_item">
            <div class="blog_thumb">
              <a href="single-blog.html"><img src="images/blog-img4.jpg" alt="team Member"></a>
            </div>
            <div class="blog_item_content">
              <ul class="blog_item_info">
                <li>
                  <i class="fa fa-user"></i>by John Doe
                </li>
                <li>
                  <i class="fa fa-calendar-alt"></i>Nov 22, 2018
                </li>
                <li>
                  <i class="fa fa-comments"></i>2
                </li>
              </ul>
              <a href="single-blog.html">
                <h4>Software Testing Service</h4>
              </a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis
                pulvinar vestibulum. Doneceleifend, sem sed dictum. Lorem ipsum dolor sit amet,
                consectetur
                adipiscing elits</p>
              <a href="single-blog.html" class="btn">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 wow slideInUp" data-wow-duration="1.25s" data-wow-delay="0s">
          <div class="blog_item">
            <div class="blog_thumb">
              <a href="single-blog.html"><img src="images/blog-img5.jpg" alt="team Member"></a>
            </div>
            <div class="blog_item_content">
              <ul class="blog_item_info">
                <li>
                  <i class="fa fa-user"></i>by John Doe
                </li>
                <li>
                  <i class="fa fa-calendar-alt"></i>Nov 22, 2018
                </li>
                <li>
                  <i class="fa fa-comments"></i>2
                </li>
              </ul>
              <a href="single-blog.html">
                <h4>Software Testing Service</h4>
              </a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis
                pulvinar vestibulum. Doneceleifend, sem sed dictum. Lorem ipsum dolor sit amet,
                consectetur
                adipiscing elits</p>
              <a href="single-blog.html" class="btn">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 wow slideInUp" data-wow-duration="1.50s" data-wow-delay="0s">
          <div class="blog_item">
            <div class="blog_thumb">
              <a href="single-blog.html"><img src="images/blog-img6.jpg" alt="team Member"></a>
            </div>
            <div class="blog_item_content">
              <ul class="blog_item_info">
                <li>
                  <i class="fa fa-user"></i>by John Doe
                </li>
                <li>
                  <i class="fa fa-calendar-alt"></i>Nov 22, 2018
                </li>
                <li>
                  <i class="fa fa-comments"></i>2
                </li>
              </ul>
              <a href="single-blog.html">
                <h4>Software Testing Service</h4>
              </a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis
                pulvinar vestibulum. Doneceleifend, sem sed dictum. Lorem ipsum dolor sit amet,
                consectetur
                adipiscing elits</p>
              <a href="single-blog.html" class="btn">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <a href="blog-list.html" class="btn browse_btn blue_gradient wow slideInUp">browse
        More</a>
    </div>
  </div>
</section>
{{ end }}
{{ end }}






{{ end }}