{{ define "main" }}

{{ if site.Data.homepage.hero.enable }}
{{ with site.Data.homepage.hero }}
  <section class="banner_sec" id="home">
    <div class="banner_slider">
      {{ range .item}}
      <div class="b_slide" style="background-image: url({{ .image | relURL}});">
        <div class="container">
          <div class="banner_caption text-center">
            <h3 class="wow fadeInLeft" data-wow-delay="0.5s">{{ .heading }}</h3>
            <h1 class="wow fadeInLeft" data-wow-delay="0.9s">{{ .title }}</h1>
            <p class="wow fadeInLeft" data-wow-delay="1.3s">{{ .subtitle }}</p>
            {{ if .mainCTA.enable }}
            <a href="{{ .mainCTA.URL }}" class="btn btn_white wow fadeInUp" data-wow-delay="1.6s">{{ .mainCTA.caption }}</a>
            {{ end }}
            {{ if .secondaryCTA.enable }}
            <a href="{{ .mainCTA.URL }}" class="btn btn_outline wow fadeInUp" data-wow-delay="1.6s">{{ .secondaryCTA.caption}}</a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="svg_curve">
      <svg version="1.1"  x="0px" y="0px"
        width="3293px" height="190.76px" viewBox="0 0 3293 190.76" enable-background="new 0 0 3293 190.76" xml:space="preserve">
        <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M0,2.954V190.76h3293V0.868C3293,0.868,1760.584,400.175,0,2.954z"
        />
      </svg>
    </div>
    {{ if .scrollDownIcon }}
    <div class="scroll_down">
      <span></span>
    </div>
    {{ end }}
  </section>
  {{ end }}
  {{ end }}


  {{ if site.Data.homepage.about.enable }}
  {{ with site.Data.homepage.about }}
  <section class="about_sec" id="about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h2 class="sec_heading wow fadeInLeft"><span>{{ .title }}</span>{{ .subtitle }}</h2>
          <p class="wow fadeInLeft">{{ .description | safeHTML }}</p>
        </div>
        <div class="col-md-6">
          <div class="about_right wow fadeInRight">
            <img src="{{`images/template-one/about-img.jpg` | relURL}}" alt="about">
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        {{ range $index, $item := .item }}
        <div class="col-lg-2 col-md-6 col-sm-6 wow slideInUp" data-wow-duration="{{ mul (add $index 1) 0.5}}s" data-wow-delay="0s">
          <div class="what-we-do-item text-center mt-30">
            <i class="{{ .icon }}"></i>
            <h5 class="title">{{ .title }}</h5>
            <p>{{ .description }}</p>
            <a href="#contact"><i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}


  {{ if site.Data.homepage.services.enable }}
  {{ with site.Data.homepage.services }}
  <section class="service_sec" id="service">
    <div class="container text-center">
      <div class="sec_header text-center">
        <h2 class="sec_heading wow fadeInLeft"><span>{{ .title }}</span>{{ .subtitle }}</h2>
        <p class="wow fadeInLeft">{{ .description }}</p>
      </div>
      <div class="servics_list">
        <div class="row">
          {{ range $index, $item := .item }}
          <div class="col-sm-6 col-md-6 col-lg-3 wow slideInUp" data-wow-duration="{{ mul (add $index 1) 0.25}}s" data-wow-delay="0s">
            <div class="service_item">
              <div class="service_thumb"><i class="{{ .icon }}"></i></div>
              <div class="service_content">
                <h4>{{ .title }}</h4>
                <p>{{ .description }}</p>
                {{ with .URL }}
                <a href="{{ .URL | relURL }}" class="btn blue_gradient">Read More</a>
                {{ end }}
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      {{ if .CTA.URL }}
      <a href="{{ .CTA.URL | relURL }}" class="btn blue_gradient wow slideInUp">{{ .CTA.caption }}</a>
      {{ end }}
    </div>
  </section>
  {{ end }}
  {{ end }}


  {{ if site.Data.homepage.portfolio.enable }}
  {{ with site.Data.homepage.portfolio }}
  <section class="portfolio_tab_sec bg_light_gray" id="portfolio">
    <div class="container">
      <div class="sec_header text-center">
        <h2 class="sec_heading wow fadeInLeft"><span>{{ .title }}</span>{{ .subtitle }}</h2>
        <p class="wow fadeInLeft">{{ .description }}</p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="portfolio_tabs">
        {{ if .filter.enable }}
        <ul class="tabs_list text-center wow fadeInUp controls" id="filters">
          <li><a href="#!" class="control filter" data-filter="all">All</a></li>
          {{ range .filter.item }}
          <li><a href="#!" class="control filter" data-filter="{{ .selector }}">{{ .label }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
        <div class="portfolio_list wow fadeInUp">
          <div id="portfoliolist" class="targets container">
            {{ if site.Data.homepage.portfolio.enable }}
            {{ with site.Data.homepage.portfolio }}
            {{ range .item }}
            <div class="mix portfolio_item portfolio designs" style="display: inline-block;">
              <a href="{{ .image }}"}>
                <img src="{{ .image  }}" alt="portfolio">
                <div class="p_caption">
                  <div class="plus_icon"></div>
                  <h4>{{ .website }}</h4>
                  <p>{{ site.Data.homepage.portfolio.CTA }}</p>
                </div>
              </a>
            </div>
            {{ end }}
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}


  {{ if site.Data.homepage.letsWorkTogether.enable }}
  {{ with site.Data.homepage.letsWorkTogether }}
  <section class="lets_work_sec" id="lets_work">
    <div class="row no-gutters">
      <div class="col-md-6">
        {{ with .forClient }}
        <div class="lets_work_block text-center" style="background-image: url(images/template-one/lets-work-bg-1.jpg);">
          <div class="lets_work_block_inner">
            <h2><span>{{ .title }}</span>{{ .subtitle }}</h2>
            <p>{{ .description }}</p>
            <a href="{{ .URL }}" class="btn btn_white">{{ .CTA }}</a>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="col-md-6">
        {{ with .forCandidate }}
        <div class="lets_work_block hiring_block  text-center" style="background-image: url(images/template-one/lets-work-bg-2.jpg);">
          <div class="lets_work_block_inner">
            <h2><span>{{ .title }}</span>{{ .subtitle }}</h2>
            <p>{{ .description }}</p>
            <a href="{{ if hasPrefix .URL `#` }}{{ .URL }}{{ else }}{{ .URL | absURL }}{{ end }}" class="btn btn_white">{{ .CTA }}</a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}


  {{ if site.Data.homepage.team.enable }}
  {{ with site.Data.homepage.team }}
  <section class="team_sec" id="team">
    <div class="container">
      <div class="sec_header text-center">
        <h2 class="sec_heading wow fadeInLeft"><span>{{ .title }}</span>{{ .subtitle }}</h2>
        <p class="wow fadeInLeft">{{ .description }}</p>
      </div>
      <div class="team_list">
        {{range .item }}
        <div class="team_member">
          <div class="team_member_inner">
            <img src="{{ .image | relURL}}" alt="team Member">
            <div class="team_member_overlay">
              <h5>{{ .name }}</h5>
              <div class="memeber_role">{{ .role }}</div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}


  {{ if site.Data.homepage.counter.enable }}
  {{ with site.Data.homepage.counter }}
  <div class="counter_sec love_counter">
    <div class="container">
      <div class="counter_area mt-30 text-center">
        <div class="row">
          {{ range $index, $item := .item }}
          {{ with $item}}
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="counter wow slideInUp" data-wow-duration="{{ mul (add $index 1) 0.5}}s" data-wow-delay="0s">
              <sub><span class="love_count">{{ .number }}</span> <sup>+</sup></sub>
              <span>{{ .title }}</span>
              <p>{{ .description }}</p>
            </div>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}


  {{ if site.Data.homepage.pricing.enable }}
  {{ with site.Data.homepage.pricing }}
  <section class="pricing_sec">
    <div class="pricing_list">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="pricing_item">
              <div class="pricing_value">
                <div class="p_v_per_month"><span>$</span>25<em>/mo</em></div>
                <div class="perYear">$250/year</div>
              </div>
              <div class="p_i_middle">
                <h3>Basic</h3>
                <ul class="pricing_info_list">
                  <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet</li>
                  <li><i class="fa fa-times"></i>Lorem ipsum dolor sit amet</li>
                  <li><i class="fa fa-times"></i>Lorem ipsum dolor sit amet</li>
                  <li><i class="fa fa-times"></i>Lorem ipsum dolor sit amet</li>
                  <li><i class="fa fa-times"></i>Lorem ipsum dolor sit amet</li>
                </ul>
                <a href="template-one.html#" class="btn blue_gradient">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="pricing_item">
              <div class="pricing_value">
                <div class="p_v_per_month"><span>$</span>35<em>/mo</em></div>
                <div class="perYear">$400/year</div>
              </div>
              <div class="p_i_middle">
                <h3>Premium</h3>
                <ul class="pricing_info_list">
                  <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet</li>
                  <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet</li>
                  <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet</li>
                  <li><i class="fa fa-times"></i>Lorem ipsum dolor sit amet</li>
                  <li><i class="fa fa-times"></i>Lorem ipsum dolor sit amet</li>
                </ul>
                <a href="template-one.html#" class="btn blue_gradient">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="pricing_item">
              <div class="pricing_value">
                <div class="p_v_per_month"><span>$</span>45<em>/mo</em></div>
                <div class="perYear">$510/year</div>
              </div>
              <div class="p_i_middle">
                <h3>Ultimate</h3>
                <ul class="pricing_info_list">
                  <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet</li>
                  <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet</li>
                  <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet</li>
                  <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet</li>
                  <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet</li>
                </ul>
                <a href="template-one.html#" class="btn blue_gradient">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}


  {{ if site.Data.homepage.testimonials.enable }}
  {{ with site.Data.homepage.testimonials }}
  <section class="testimonials_sec" id="testimonials">
    <div class="container">
      <div class="testimonials_inner">
        <div class="sec_header">
          <h2 class="sec_heading wow fadeInLeft"><span>{{ .title }}</span>{{ .subtitle }}</h2>
          <p class="wow fadeInLeft">{{ .description }}</p>
        </div>
        <div class="testi_wrap">
          <div class="testi_slider dots_bottom">
            {{ range .item }}
            <div class="testi_item">
              <div class="testi_content">
                <ul class="star_rating">
                  <li><i class="fa fa-star fill"></i></li>
                  <li><i class="fa fa-star fill"></i></li>
                  <li><i class="fa fa-star fill"></i></li>
                  <li><i class="fa fa-star fill"></i></li>
                  <li><i class="fa fa-star fill"></i></li>
                </ul>
                <p>{{ .opinion }}</p>
              </div>
              <div class="testi_author">
                <div class="testi_name">{{ .client }}</div>
                <div class="testi_designation">{{ .role }}</div>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}


  {{ if site.Data.homepage.contact.enable }}
  {{ with site.Data.homepage.contact }}
  <section class="contact_sec" id="contact">
    <div class="sec_header text-center">
      <div class="container">
        <h2 class="sec_heading wow fadeInUp" data-aos="fade-up"><span>{{ .title }}</span>{{ .subtitle }}</h2>
        <p class="wow fadeInUp" data-aos="fade-up">{{ .description }}</p>
      </div>
    </div>
    <div class="container">
      <div class="contact-details d-flex">
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <div class="contact_info wow fadeInLeft">
              <h3>{{ .contentTitle }}</h3>
              <p>{{ .content }}</p>
              {{ if .address.enable }}
              <hr>
              <h5><i class="fa fa-map-marker"></i> {{ .address.address }}
              </h5>
              <h5><i class="fa fa-envelope"></i> {{ .address.email }}
              </h5>
              <h5><i class="fa fa-phone"></i> {{ .address.phone }}
              </h5>
              {{ end }}
            </div>
          </div>
          <div class="col-sm-12 col-md-7">
            <div class="contact-form-area wow fadeInRight">
              {{ if .form.embed }}{{ .form.embed | safeHTML }}{{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}


  {{ if site.Data.homepage.partners.enable }}
  {{ with site.Data.homepage.partners }}
  <div class="partners_sec">
    <div class="container">
      <div class="partners_slider">
        {{ range .item }}
        <div class="partner_item">
          <img src="{{ .image }}" alt="partner">
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}


  {{ if site.Data.homepage.news.enable }}
  {{ with site.Data.homepage.news }}
  <section class="news_sec" id="blog">
    <div class="container">
      <div class="sec_header text-center">
        <h2 class="sec_heading wow fadeInLeft"><span>{{ .title }}</span>{{ .subtitle }}</h2>
        <p class="wow fadeInLeft"></p>
      </div>
      <div class="blogs_list text-center">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 wow slideInUp" data-wow-duration="0.25s" data-wow-duration="0s">
            <div class="blog_item">
              <div class="blog_thumb">
                <a href="single-blog.html"><img src="images/template-one/blog-img.jpg" alt="team Member"></a>
              </div>
              <div class="blog_item_content">
                <ul class="blog_item_info">
                  <li>
                    <i class="fa fa-user"></i>by John Doe
                  </li>
                  <li>
                    <i class="fa fa-calendar-alt"></i>Nov 22, 2018
                  </li>
                  <li>
                    <i class="fa fa-comments"></i>2
                  </li>
                </ul>
                <a href="single-blog.html">
                  <h4>Software Testing Service</h4>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis
                  pulvinar vestibulum. Doneceleifend, sem sed dictum. Lorem ipsum dolor sit amet,
                  consectetur
                  adipiscing elits</p>
                <a href="single-blog.html" class="btn">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 wow slideInUp" data-wow-duration="0.5s" data-wow-delay="0s">
            <div class="blog_item">
              <div class="blog_thumb">
                <a href="single-blog.html"><img src="images/template-one/blog-img2.jpg" alt="team Member"></a>
              </div>
              <div class="blog_item_content">
                <ul class="blog_item_info">
                  <li>
                    <i class="fa fa-user"></i>by John Doe
                  </li>
                  <li>
                    <i class="fa fa-calendar-alt"></i>Nov 22, 2018
                  </li>
                  <li>
                    <i class="fa fa-comments"></i>2
                  </li>
                </ul>
                <a href="single-blog.html">
                  <h4>Software Testing Service</h4>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis
                  pulvinar vestibulum. Doneceleifend, sem sed dictum. Lorem ipsum dolor sit amet,
                  consectetur
                  adipiscing elits</p>
                <a href="single-blog.html" class="btn">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 wow slideInUp" data-wow-duration="0.75s" data-wow-delay="0s">
            <div class="blog_item">
              <div class="blog_thumb">
                <a href="single-blog.html"><img src="images/template-one/blog-img3.jpg" alt="team Member"></a>
              </div>
              <div class="blog_item_content">
                <ul class="blog_item_info">
                  <li>
                    <i class="fa fa-user"></i>by John Doe
                  </li>
                  <li>
                    <i class="fa fa-calendar-alt"></i>Nov 22, 2018
                  </li>
                  <li>
                    <i class="fa fa-comments"></i>2
                  </li>
                </ul>
                <a href="single-blog.html">
                  <h4>Software Testing Service</h4>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis
                  pulvinar vestibulum. Doneceleifend, sem sed dictum. Lorem ipsum dolor sit amet,
                  consectetur
                  adipiscing elits</p>
                <a href="single-blog.html" class="btn">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 wow slideInUp" data-wow-duration="1.00s" data-wow-delay="0s">
            <div class="blog_item">
              <div class="blog_thumb">
                <a href="single-blog.html"><img src="images/template-one/blog-img4.jpg" alt="team Member"></a>
              </div>
              <div class="blog_item_content">
                <ul class="blog_item_info">
                  <li>
                    <i class="fa fa-user"></i>by John Doe
                  </li>
                  <li>
                    <i class="fa fa-calendar-alt"></i>Nov 22, 2018
                  </li>
                  <li>
                    <i class="fa fa-comments"></i>2
                  </li>
                </ul>
                <a href="single-blog.html">
                  <h4>Software Testing Service</h4>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis
                  pulvinar vestibulum. Doneceleifend, sem sed dictum. Lorem ipsum dolor sit amet,
                  consectetur
                  adipiscing elits</p>
                <a href="single-blog.html" class="btn">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 wow slideInUp" data-wow-duration="1.25s" data-wow-delay="0s">
            <div class="blog_item">
              <div class="blog_thumb">
                <a href="single-blog.html"><img src="images/template-one/blog-img5.jpg" alt="team Member"></a>
              </div>
              <div class="blog_item_content">
                <ul class="blog_item_info">
                  <li>
                    <i class="fa fa-user"></i>by John Doe
                  </li>
                  <li>
                    <i class="fa fa-calendar-alt"></i>Nov 22, 2018
                  </li>
                  <li>
                    <i class="fa fa-comments"></i>2
                  </li>
                </ul>
                <a href="single-blog.html">
                  <h4>Software Testing Service</h4>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis
                  pulvinar vestibulum. Doneceleifend, sem sed dictum. Lorem ipsum dolor sit amet,
                  consectetur
                  adipiscing elits</p>
                <a href="single-blog.html" class="btn">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 wow slideInUp" data-wow-duration="1.50s" data-wow-delay="0s">
            <div class="blog_item">
              <div class="blog_thumb">
                <a href="single-blog.html"><img src="images/template-one/blog-img6.jpg" alt="team Member"></a>
              </div>
              <div class="blog_item_content">
                <ul class="blog_item_info">
                  <li>
                    <i class="fa fa-user"></i>by John Doe
                  </li>
                  <li>
                    <i class="fa fa-calendar-alt"></i>Nov 22, 2018
                  </li>
                  <li>
                    <i class="fa fa-comments"></i>2
                  </li>
                </ul>
                <a href="single-blog.html">
                  <h4>Software Testing Service</h4>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis
                  pulvinar vestibulum. Doneceleifend, sem sed dictum. Lorem ipsum dolor sit amet,
                  consectetur
                  adipiscing elits</p>
                <a href="single-blog.html" class="btn">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <a href="blog-list.html" class="btn browse_btn blue_gradient wow slideInUp">browse
          More</a>
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}

  {{ end }}